.modal {
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);

  @media screen and(max-width:1199px) {
    max-width: 450px;
  }
  
  @media screen and(min-width:1200px) {
    width: 528px;
  }
}

.modal__close__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.form__tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: #212121;
}
.form__field {
    margin-bottom: 10px;

}

.sosok{
    margin-bottom: 0px;

}
.form__label {
  display: block;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  
  &:focus {
    outline: none;
    border-color: var(--icon-blue-color);
  }
  

}


.form__imput--comment {
  padding-left: 12px;
  height: 120px;
  resize: none;

  &::placeholder{
      color: rgba(117, 117, 117, 0.5);
  }
}


.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__text {
  display: inline-block;
  justify-content: center;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.form__icon {
  position: absolute;

  top: 52.5%;
  left: 15px;
}

.form-agree {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-agree__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agre-text {
  user-select: none;
  color: var(--grey-color);
  margin-left: 7px;
}

.agree__link {
  color: var(--accent-color);
}

.agree-checkbox {
  display: inline-flex;
  align-items: center;
  outline: 2px solid var(--border-color);
  outline-offset: -2px;
  border-radius: 2px;
  fill: var(--white-color);
  transition: var(--anim);
}

.agree-input:checked + .agree-checkbox {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.agree-input:focus + .agree-checkbox {
  box-shadow: 0 0 0 2px var(--accent-color);
}
.submit__btn {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
