h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* common styles start */
.link {
  text-decoration: none;
}
.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
