.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cust__item {
  display: flex;
  width: 170px;
  height: 92px;

  justify-content: center;
  align-items: center;

  transition: var(--anim);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.cust__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cust__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.cust__link {
  color: var(--icon-grey-color);

  &:hover,
  &:focus {
    border-color: var(--icon-blue-color);
    color: var(--icon-blue-color);
  }
}

/* .cust__link:hover,
  .cust__link:focus{
      color: currentColor;
  } */


