/* what ARE WE DOING HERE DUDE PLZ HEPL */

.working__section {
    padding-top: 0;
    background-color: var(--white-bg-color);
    display: none;
  }
  
  .working__list {
    display: flex;
  }
  
  .work__img {
    position: relative;

    &:not(:last-child){
        margin-right: 30px;
    }
  }
  
  .work-img__box {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    /* left: 50%;
    transform: translate(-50%, 0); */
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .work-img__text {
    color: #ffffff;
  }
  